@use "scss/font" as f;

body {
  margin: 0;
  @include f.app-font("regular", "xxs");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
