$xxs1: 4px;
$xxs2: 8px;
$xxs3: 12px;

$xs1: 16px;
$xs2: 24px;

$sm1: 32px;
$sm2: 48px;

$md1: 64px;
$md2: 96px;

$lg1: 128px;
$lg2: 192px;

$xl1: 256px;
$xl2: 384px;

$xxl1: 512px;
$xxl2: 640px;
$xxl3: 768px;
